<footer class="footer-container">
    <p>Website made with ❤️ by Alex Sicovsky. | © Alex Laboratories Inc. 2050-2066 - All right reserved</p>
    <p>Proudly hosted by <span style="color: #4995ec">Peittsuhai-2 Laboratories</span></p>
</footer>